* {
    box-sizing: border-box;
  }
  body{
      margin:0;
      background: #ccc;
  }
  ul, li, img {
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0 auto;
    max-width: 748px;
    height:450px;
  }

  header {
    padding-top:80px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .control {
    padding: 0;
    width: 605px;
    position: relative;
    height:100px;
  }

  .carousel  {
    list-style: none;
    position: relative;
    width: 2000em;
    height: 300px;
    transform: translate(-748px,0);
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .carousel li {
    float: left;
    width: 748px;    
  }
 .left{
     float:left;
 }
  .right {
    float:right;
  }
  .pagination{
      float:left;
      margin-left:230px;  
  }
  .pagination li{
display:inline-block;
padding-left:10px;
padding-right:10px;
background: #eee;
  }
.pagination li.active{
    background: #888;
}